* {
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    background-color: #F9F9F9;
    font-family: 'Poppins', sans-serif;
}


.section {
    padding-top: 100px;
    padding-bottom: 120px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

button {
    cursor: pointer;
}

ol,
ul,
a {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    vertical-align: top;
}

a {
    color: #606060;
    font-family: 'Inter', sans-serif;
    font-size: 17.829px;
    font-weight: 500;
    line-height: 26.743px;
    text-transform: capitalize;
    text-decoration: none;
}

.purple-txt {
    color: #6C5FBC;
    font-family: 'Poppins', sans-serif;
    font-size: 21.176px;
    font-weight: 600;
    line-height: 130%;
}

.info {
    color: var(--Grey, #8E97A6);
    font-family: Manrope;
    font-size: 19.34px;
    font-weight: 400;
    line-height: 25.786px;
}

.subtitle {
    color: rgba(32, 31, 31, 0.20);
    font-size: 15px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 2px;
}

.title {
    color: #201F1F;
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -3px;
}

.desc {
    color: #676767;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}


.btn {
    font-family: Poppins;
    font-size: 16.271px;
    font-weight: 500;
    letter-spacing: 0.163px;
    text-transform: capitalize;
    border-radius: 12.412px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.primary_btn {
    border: none;
    background-color: #6C5FBC;
    padding: 18px 31px;
    color: #FFFFFF;
    transition: all 0.3s linear
}


.primary_btn:hover {
    background-color: #F9F9F9;
    color: #6C5FBC;
    border: 1px solid #6C5FBC;
}

.secondary_btn {
    padding: 18px 28px;
    border-color: #6C5FBC;
    color: #6C5FBC;
    background-color: #F9F9F9;
}

/*-----------------------------header-----------------*/


.header {
    width: 100%;
}

.header__content {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 2px solid #CBCBCB;
}

.header__content_nav-bar,
.logo,
.nav-bar ol,
.header__content_login {
    display: flex;
    align-items: center;
}

.nav-bar a {
    transition: color 0.2s ease;
}

.nav-bar a:hover {
    color: #6c5fbc;
}


.header__content_nav-bar {
    gap: 105px;
}

.header__content_login {
    gap: 9px;
}

.logo {
    gap: 10px;
}

.logo a {
    color: #6C5FBC;
    font-family: Poppins;
    font-size: 28.525px;
    font-weight: 600;
    line-height: 130%;
    text-transform: none;
}

.nav-bar ol {
    gap: 54px;
}

.login,
.sign-in {
    border-radius: 25px;
    background-color: #6C5FBC;
    border-radius: 17.829px;
    border: none;
}

.login>.secondary_btn {
    border: none;
    color: #606060;
}


.log a,
.sign a {
    color: #606060;
    font-family: Inter;
    font-size: 17.829px;
    font-weight: 700;
    line-height: 26.743px;
    text-transform: capitalize;
}

.sign-in a {
    color: #F9F9F9;
}

/*-----------------------------promo-----------------*/

.promo-content {
    display: flex;
    justify-content: space-between;
}


.promo_subtitle {
    margin-bottom: 20px;
    margin-left: 65px;
    position: relative;
}

.promo_subtitle::before {
    left: -10%;
    bottom: 50%;
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #201F1F;
    opacity: 0.2;
}

.promo_title {
    margin-bottom: 16px;
}

.promo_title span {
    color: #5C4EAE;
    font-family: Poppins;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -3px;
}

.promo_desc a {
    opacity: 0.7;
    color: #6155AE;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.promo_desc {
    margin-bottom: 55px;
}

.promo_buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 33px;
}

.promo_rait {
    display: flex;
    gap: 20px;
    align-items: center;
}

.promo_raiting {
    display: flex;
    gap: 10px;
    align-items: center;
}

.raiting_download {
    color: var(--blue-gray-700, #334155);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    opacity: 0.7;
}

.promo__img {
    margin-right: 50px;
    position: relative;
}

.promo__img-content {
    position: relative;
}


.promo__img-content::before {
    top: -3%;
    left: 5%;
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #6C5FBC;
    border-radius: 100%;
}

.promo__img-content::after {
    content: "";
    position: absolute;
    background: url(../assets/icons/arrowUp.svg) top center no-repeat;
    top: 13%;
    right: -16%;
    width: 100px;
    height: 100px;
}

.decor_meal {
    position: absolute;
    top: -10%;
    right: -20%;
    background-color: #FFF;
    border-radius: 16.406px;
    width: 73%;
}

.decor_meal-item::before {
    top: -40%;
    right: -15%;
    content: "";
    position: absolute;
    background: url(../assets/icons/Illustration.svg);
    width: 42px;
    height: 28px;
}

.decor_meal-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 15px;
}

.decor_meal-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.decor_meal-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.decor-meal-item-title {
    color: var(--Black-Color, #323142);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 15.586px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.2px;
}

.decor-meal-item-subtitle {
    color: var(--Black-Color, #323142);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 9.844px;
    font-weight: 500;
    line-height: 140%;
}

.decor-meal-item-time {
    color: var(--Dark-Grey, #ACADB9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 10.664px;
    font-weight: 500;
    line-height: 140%;
    text-align: right;
}


.promo_decor_graph {
    position: absolute;
    bottom: -10%;
    left: 0;
}


.promo_decor_graph_content {
    padding: 5px 0px;
    background-color: #FFF;
    border-radius: 16.759px;
    box-shadow: 14.12048px 18.82731px 37.65462px 0px rgba(26, 32, 44, 0.15);
}

.promo_decor_graph_content::before {
    bottom: -20%;
    left: -15%;
    content: "";
    position: absolute;
    background: url(../assets/icons/Illustration\ 02.svg) bottom center no-repeat;
    width: 38.077px;
    height: 33px;
}


/*-----------------------------statistics-----------------*/



.statistics_title {
    position: relative;
    color: var(--base-white, #FFF);
    font-family: Public Sans;
    font-size: 43.2px;
    font-weight: 700;
    line-height: 54px;
}

.statistics_desc {
    color: #CBD5E1;
}

.statistics {
    background: url(../assets/img/statistics/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.statistics_list {
    display: flex;
    padding: 56px;
}

.statistics_item:first-child {
    padding-left: 0px;
}

.statistics_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    padding-right: 67px;
    padding-left: 67px;
    border-right: 1px solid hwb(0 77% 23% / 0.282);
}

/*-----------------------------download-----------------*/


.download_content {
    display: flex;
    align-items: center;
    gap: 120px;
    padding-bottom: 120px;
    border-bottom: 1px solid #CBCBCB;
}

.download_phone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.download_phone {
    position: relative;
}


.download_phone::before {
    content: "";
    background: url(../assets/icons/Illustration\ 02.svg) center no-repeat;
    width: 50px;
    height: 50px;
    top: -8%;
    right: -15%;
    position: absolute;
    transform: rotate(180deg);
}

.download_text_title {
    font-size: 50.923px;
    font-weight: 500;
    width: 90%;
    line-height: 58.198px;
    margin-bottom: 60px;
}

.download_text_title span {
    font-size: 50.923px;
    font-weight: 700;
    line-height: 58.198px;
}

.download_text_list {
    list-style: disc;
}

.download_text_list_item {
    width: 80%;
    color: #676767;
    font-family: Inter;
    font-size: 20.335px;
    font-weight: 400;
    line-height: 30.502px;
    margin-bottom: 28px;
}

.download_button {
    position: relative;
}



.download_button::after {
    content: "";
    position: absolute;
    background: url(../assets/icons/arrowUp.svg) no-repeat center;
    width: 100px;
    height: 100px;
    bottom: -120%;
    transform: rotate(45deg);
}


/*-----------------------------top---------------------------------*/


.top_content {
    padding-bottom: 120px;
    border-bottom: 1px solid #CBCBCB;
}


.top_list_section {
    display: flex;
    flex-direction: column;
}

.top_view_all {
    align-self: end;
}


.top_content {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.top_title {
    color: #323142;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.558px;
    letter-spacing: 0.5px;
    margin-bottom: 60px;
}

.top_title span {
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.558px;
    letter-spacing: 0.5px;
}

.top_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 65px;
}

.top_view_all {
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--Dark-Grey, #ACADB9);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 45.184px;
    letter-spacing: -0.1px;
}

.top_item {
    background-color: #FFF;
    border-radius: 30px;
    border: 1.251px solid #F4F4F6;
    box-shadow: 5.94564px 71.34769px 35.67385px 0px rgba(229, 229, 229, 0.70);
    transition: all .2s linear;
}

.top_item:hover {
    transform: scale(1.1);
}

.top_item_img {
    position: relative;
}

.top_item_img::before {
    content: "";
    position: absolute;
    z-index: 2;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 49, 66, 0.1);
}


.top_item_img img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
}

.top_itemt_txt {
    padding: 10px 0px 10px 20px;
}

.category {
    display: inline;
    padding: 3px 8px;
    color: #DAA31A;
    font-family: Poppins;
    font-size: 12.776px;
    font-weight: 400;
    border-radius: 5.4px;
    background: #F7EDD0;
}

#red-category {
    color: #FB471D;
    background-color: #F7C5BA;
}

#green-category {
    background-color: rgba(51, 172, 100, 0.203);
    color: #309D5B;
}

.top_itemt_txt_title {
    color: var(--BLACK, #323142);
    font-size: 25.786px;
    font-weight: 600;
    line-height: 41.903px;
    letter-spacing: 0.3px;
}

.top_itemt_txt_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_itemt_txt_info_left {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.top_itemt_txt_info_rait {
    display: flex;
    align-items: flex-end;
}

.top_itemt_txt_info_bookmark {
    padding: 0px 20px 0px 0px;
}


.view_all {
    align-self: end;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ACADB9;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 45.184px;
    letter-spacing: -0.1px;
}



/*-----------------------------top-dishes---------------------------------*/


.top_dishes_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
    border-bottom: 1px solid #CBCBCB;
}


.top_dishes_card_img {
    text-align: center;
}

.top_dishes_card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top_dishes_title {
    color: #323142;
    font-size: 45px;
    font-weight: 600;
    line-height: 25.558px;
    letter-spacing: 1px;
    margin-bottom: 70px;
}


.top_dishes_title span {
    color: #6C5FBC;
    font-size: 45px;
    font-weight: 600;
    line-height: 25.558px;
    letter-spacing: 1px;
}

.top_dishes_card_list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-bottom: 60px;
}


.top_dishes_card_item {
    position: relative;
    padding: 17px;
    border-radius: 34.581px;
    border: 1.441px solid #F4F4F6;
    background: #FFF;
    transition: all .2s linear;
    box-shadow: 6.84842px 82.18102px 41.09051px 0px rgba(229, 229, 229, 0.70);
}

.top_dishes_card_item:hover {
    transform: scale(1.1);
}

.top_dishes_card_title {
    color: var(--BLACK, #323142);
    font-size: 23.054px;
    font-weight: 600;
    line-height: 37.463px;
    letter-spacing: 0.5px;
}

.top_itemt_txt_info_price {
    color: var(--BLACK, #323142);
    font-family: Manrope;
    font-size: 25.936px;
    font-weight: 700;
    line-height: 40.345px;
}

.top_itemt_txt_info_add {
    border-radius: 6px;
    border: none;
    background-color: #323142;
    color: #FFFFFF;
    width: 40px;
    height: 35px;
    font-size: 25px;
    margin-right: 5px;
}

.top_itemt_txt_info_bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_dishes_card_txt>.top_itemt_txt_info {
    flex-direction: column;
    align-items: flex-start;
}

.top_dishes_card_like {
    position: absolute;
    top: 5%;
    right: 5%;
}

.top_dishes_card_like button {
    border: none;
    background-color: transparent;
}



/*-----------------------------purchases-----------------*/


.purchase_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 10px;
    padding-bottom: 130px;
    border-bottom: 1px solid #CBCBCB;
}

.purchase_header {
    flex: 0 1 50%;
}

.purchase_header_title,
.purchase_header_title span {
    font-size: 50.923px;
    font-weight: 600;
    line-height: 58.198px;
    opacity: 0.9;
    text-align: left;
}

.purchase_header_title {
    margin-bottom: 50px;
}

.purchase_header_title_card_list {
    display: grid;
    grid-template-columns: 0.7fr;
    gap: 10px;
}

.purchase_card_txt {
    width: 100%;
}

.purchase_card_title {
    color: #323142;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0;
}

.purchase_card_desc {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #323142;
    margin: 0 0 5px;
}

.purchase_card_info {
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #acadb9;
}

.purchase_header_title_card_item {
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 12.041px;
    background: #FFF;
    padding: 10px 17px;
    box-shadow: 0 20px 30px rgba(70, 70, 70, 0.1);
}

.purchase_dashboard {
    flex: 0 1 47%;
    border-radius: 25.129px;
    border: 1.571px solid #EDF2F7;
    background: #FFF;
    padding: 45px 40px;
    box-shadow: 0 20px 30px rgba(50, 49, 66, 0.2);
}


.purchase_dashboard_card_item {
    position: relative;
    padding: 25px 25px 55px;
    border-radius: 18.847px;
    border: 1.571px solid var(--greyscale-200, #EDF2F7);
}

.purchase_dashboard_card_item_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard_card_item_icon {
    padding: 12px 13px;
    border-radius: 1570.588px;
    background: #F4F0FF;
}

#green-bg {
    background: #F2FDF6;
}


.purchase_dashboard_title {
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
}

.purchase_dashboard_card_item_name {
    display: flex;
    align-items: center;
    gap: 20px;
}


.purchase_dashboard_title_txt {
    color: var(--greyscale-900, #1A202C);
    font-family: Manrope;
    font-size: 28.271px;
    font-weight: 800;
    line-height: 135%;
    letter-spacing: 0.314px;
}

.dashboard_card_item_txt_title {
    color: var(--greyscale-900, #1A202C);
    font-size: 18.847px;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0.628px;
}

.dashboard_card_item_txt_increased {
    color: var(--greyscale-500, #A0AEC0);
    font-size: 15.706px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.628px;
}

.purchase_dashboard_card_item_price {
    font-family: "Manrope", sans-serif;
    color: #1A202C;
    font-size: 22px;
    font-weight: 800;
}

.purchase_dashboard_purple::before,
.purchase_dashboard_purple::after {
    background-color: #6b5fbc;
}

.purchase_dashboard_yellow::before,
.purchase_dashboard_yellow::after {
    background: #FBAD18;
}

.purchase_dashboard_yellow::after {
    width: 70%;
}

.purchase_dashboard_card_item::before {
    opacity: 0.2;
}

.purchase_dashboard_purple::after {
    width: 70%;
    background-color: #6b5fbc;
}

.purchase_dashboard_card_item::after,
.purchase_dashboard_card_item::before {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    height: 9.42px;
    border-radius: 78px;
}

.purchase_select {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 0.6px;
    color: #1a202c;
    padding: 12px 18px;
    background: #fafafa;
    border-radius: 13px;
    cursor: pointer;
}




/*-----------------------------review-----------------*/

.review_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review_title {
    color: #323142;
    font-family: Poppins;
    font-size: 45px;
    font-weight: 600;
    line-height: 25.558px;
    margin-bottom: 80px;

}

.review_title span {
    color: #6C5FBC;
    font-family: Poppins;
    font-size: 45px;
    font-weight: 600;
    line-height: 25.558px;
}

.review_slide {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 40px 43px;
}

.review_slide::after {
    content: "";
    position: absolute;
    background: url(../assets/icons/quotes.svg) center no-repeat;
    width: 65px;
    height: 50px;
    top: 10%;
    right: 5%;
}

.swiper-wrapper {
    gap: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #6155AE;
}

.review_slide_header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.review_slide_header_info_name {
    color: #030314;
    font-family: Poppins;
    font-size: 20.893px;
    font-weight: 500;
    line-height: 31.34px;
}

.review_slide_header_info_year {
    color: #5E5D5D;
    font-family: Quicksand;
    font-size: 16.715px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.117px;
    /* 156.25% */
}

.review_slide_header_avatar img {
    border-radius: 100%;
}

.review_slide_comment {
    color: #636363;
    font-family: Poppins;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 26.117px;
    margin-bottom: 40px;
}


/*-----------------------------promotion-----------------*/

.promotion_content {
    position: relative;
    background: url(../assets/img/promotion/sale-bg.jpg) center no-repeat;
    border-radius: 25px;
    padding: 40px 0px 40px 60px;
}


.promotion_content::after {
    position: absolute;
    content: "";
    background: url(../assets/img/promotion/food.png) center no-repeat;
    width: 274px;
    height: 276px;
    top: 30%;
    right: 3%;
}

.promotion_title {
    color: #FFF;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}

.promotion_form {
    display: inline-flex;
    position: relative;
}

.promotion_input {
    color: #878787;
    font-family: Poppins;
    font-size: 16.268px;
    font-weight: 400;
    letter-spacing: 0.488px;
    text-transform: capitalize;
    width: 440px;
    height: 68px;
    border-radius: 13px;
    background: #FFF;
    border: none;
    opacity: 0.8;
    outline: none;
    box-shadow: 0px 7.25333px 45.33334px 0px rgba(0, 0, 0, 0.10);
}

.promotion_btn {
    top: 7.5%;
    right: 2.5%;
    position: absolute;
    color: #F7F8FA;
    font-family: Poppins;
    font-size: 14.752px;
    font-weight: 500;
    letter-spacing: 0.443px;
    text-transform: uppercase;
    border-radius: 11px;
}

::placeholder {
    padding-left: 15px;
}


/*-----------------------------footer-----------------*/


.footer.section {
    padding-bottom: 40px;
}

.footer {
    background: #EAEAEA;
}

.footer_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 75px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.207);
}

.footer__copyright {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__copyright_title {
    color: #999;
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
}

.footer__copyright_social {
    display: flex;
    gap: 40px;
}

.footer__copyright_social svg {
    width: 22px;
    height: 22px;
    fill: #606060;
    transition: fill 0.3s ease;
}

.footer__copyright_social svg:hover {
    fill: #6c5fbc;
}